@page "/xac-nhan-don-hang"

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Đặt hàng thành công!</h4>
  <p>Cảm ơn bạn đã mua hàng. Đơn hàng của bạn đang được xử lý và sẽ được giao trong thời gian sớm nhất.</p>
  <hr>
  <p class="mb-0">
      <a href="/san-pham" class="btn btn-primary">Tiếp tục mua sắm</a>
  </p>
</div>