<footer class="app-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About KBHOME</h5>
                <p>
                    KBHOME là nhà cung cấp hàng đầu các giải pháp và thiết bị vệ sinh cao cấp,
                    mang lại sự sang trọng và hiện đại cho không gian sống của bạn.
                </p>
            </div>
            <div class="col-md-4">
                <h5>Chính sách & Hỗ trợ</h5>
                <ul>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Thông tin liên hệ</h5>
                <p><span class="oi oi-map-marker"></span> Showroom HCM 46 Song Hành, Phường Bình Trưng, Thành Phố Hồ Chí Minh.</p>
                <p><span class="oi oi-map-marker"></span> 03-05, Đường số 11, KDC Kim Sơn, Phường Tân Hưng, Thành phố Hồ Chí Minh.</p>
                <p><span class="oi oi-phone"></span> Hotline: +84 93 189 48 68</p>
                <p><span class="oi oi-envelope-closed"></span> Email: contact@kbhome.com.vn</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 KBHOME. All Rights Reserved.</p>
        </div>
    </div>
</footer>